<style>
body {
    background-color: grey;
}

h1 {
    color: lightgrey;
    text-align: center;
}

p {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    word-wrap: normal;

}
</style>
